/* --------> Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* --------> Utility classes: */

.flex {
  display: flex;
}

.flexCenter {
  background-color: red;
  justify-content: center;
  /* align-items: center; */
  min-width: 15rem;
}

.flexColumn {
  flex-direction: column;
}

/* --------> General styles: */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;;
}

h4 {
  font-size: 1.3rem;
}

p {
  font-size: 1.2rem;
}

li {

}
/* --------> Project section styles: */

.projectSection {
  padding: 2rem 0;
  max-width: 80rem;
  background-color: green;
  margin: 0 auto;
}

.projectTextAndImageContainer {
  background-color: orange;
  margin-bottom: 2rem;
}

.projectsTextContainer {
  background-color: blue;
  margin: 0 auto 2rem auto;
  max-width: 20rem;
}

.projectsTextContainer h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.projectPicMainContainer {
  overflow: hidden;
}

.projectPicMain {
  /* need to be bigger on bigger screens */
  animation: moveAnimation 10s linear infinite;
  transform-origin: center;
  width: 8rem;
}

@keyframes moveAnimation {
  0% {
    transform: translateY(20px) scale(2);
  }
  50% {
    transform: translateY(80px) scale(2);
  }
  100% {
    transform: translateY(20px) scale(2);
  }
}

.projectButton {
  font-size: 1.2rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

/* --------> Tablet and desktop screen styles: */

@media screen and (min-width: 700px) {
  .projectSection {
    padding: 7rem 0;
  }

  .projectTextAndImageContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 35rem;
  }

  .projectPicMain {
    min-width: 25rem;
  }

  .projectsTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:start;
    height: 30rem;
  }
}