/* --------> Variables: */

:root {
  --font-family: 'Exo 2', sans-serif;

}


/* --------> Reset CSS: */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
  font-family: var(--font-family);
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* --------> Utility classes: */

.flex {
  display: flex;
}

.flexCenter {
  justify-content: center;
  min-width: 15rem;
}

.flexColumn {
  flex-direction: column;
}

/* --------> General styles: */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;;
}

h4 {
  font-size: 1.3rem;
}

p {
  font-size: 1.2rem;
}

ul {
  list-style: circle;
  font-size: 1.2rem;
}

.headerContainer {
  text-align: center;
  padding: 4rem 0;
}

.headerContainer h2 {
  font-size: 5rem;
}

/* --------> Carousel styles: */

.carouselContainer {
  width: 100%;
  max-width: 40rem;
  margin: 5rem auto;
  /* padding: 5rem; */
}

.carouselContainer h3 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

/* --------> Mode button styles: */

.modeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Unable to get position: sticky, to work */
  position: fixed;
  top: 0; 
  right: 0;
  z-index: 100;
  margin-top: -5px;
  margin-right: -5px;
  border-bottom-left-radius: 50%;
}
.modeButton > img {
  width: 1.5rem;
  height: 1.5rem;
}
/* --------> Project section styles: */

.projectSection {
  padding: 2rem 0;
  max-width: 80rem;
  margin: 0 auto;
}
/* we may want to add flex here as well, so we can control the width of the image container and have consistent width */
.projectTextAndImageContainer {
  margin-bottom: 2rem;
}

.projectsTextContainer {
  padding: 2rem;
  margin-bottom: 2rem;
}

.projectsTextContainer h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.projectsTextContainer p {
  max-width: 30rem;
}

.projectPicMainContainer {
  overflow: hidden;
  border-radius: 10%;
}

.projectPicMain {
  animation: moveAnimation 10s linear infinite;
  transform-origin: center;
  width: 8rem;
}

.projectsTextContainer ul {
  margin: 2rem 0 0 1rem;
}

.projectsTextContainer li {
  line-height: 1.5rem;
}

/* --------> Project modal styles: */

.modalPicContainer {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.modalTextContainer > * {
  margin-bottom: 2rem;
}

.modalTextContainer li {
  margin-left: 2rem;
  line-height: 1.25rem;
}

@keyframes moveAnimation {
  0% {
    transform: translateY(20px) scale(2);
  }
  50% {
    transform: translateY(80px) scale(2);
  }
  100% {
    transform: translateY(20px) scale(2);
  }
}
/* I need to figure out a way to add the right shades of just-off white/black to the bootstrap buttons 
{backgroundColor: '#FAF9F6', color: '#202020'}*/
.projectButton {
  font-size: 1.2rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;

}

.seeDetails {
  margin-left: 1.7rem;
}

/* --------> Tablet screen styles: */

@media screen and (min-width: 700px) {
  .projectSection {
    padding: 7rem 0;
  }

  .projectTextAndImageContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .projectPicMain {
    min-width: 15rem;
    margin-right: 5rem;
    margin-left: 5rem;
  }

  .projectsTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:start;
    height: 30rem;
    margin-right: 2rem;
  }
}

/* --------> Desktop screen styles: */

@media screen and (min-width: 1000px) {
  .projectPicMain {
    min-width: 20rem;
  }

  .projectTextAndImageContainer {
    min-width: 35rem;
  }

  .projectsTextContainer {
    padding-left: 10rem;
  }

  .seeDetails {
    margin-left: 9.7rem;
  }
}